[Unit]
Description=Check for Dune public IP changes

[Timer]
OnBootSec=5min
OnUnitActiveSec=DUNE_PUBLIC_IP_MONITOR_INTERVAL_PLACEHOLDERmin
Persistent=true
Unit=dune-public-ip-monitor.service

[Install]
WantedBy=timers.target
