[Unit]
Description=Schedule DASH daily maintenance restart for 06:00

[Timer]
OnCalendar=*-*-* 05:30:00
Persistent=true
Unit=dune-daily-maintenance-schedule.service

[Install]
WantedBy=timers.target
