# Static federated directory builder configuration.
DUNE_ROOT=/opt/DuneAwakeningSelfHost
DIRECTORY_ROOT=/srv/dash-public-site/directory
DIRECTORY_SOURCES_FILE=/etc/dash-directory-sources.json
DIRECTORY_TIMEOUT_SECONDS=5
DIRECTORY_WORKERS=8
